<div class="field">
<%= form_with(model: entry, local: true, url: confirm_entries_path) do |f| %>
  <% if entry.errors.any?%>
    <div class="error_explanation">
      <p><%= pluralize(entry.errors.count, 'error') %>Prohibited this rental from being saved</p>
      <% entry.errors.full_messages.each do |message| %>
        <ul>
          <li><%= message %></li>
        </ul>
      <% end %>
    </div>
  <% end %>
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
    <%= f.label :reserved_date %>
    <%=f.date_field :reserved_date %>
    <%= f.label :usage_time %>
    <%=f.number_field :usage_time %>
    <%= f.label :people %>
    <%=f.number_field :people %>
    <%= f.hidden_field :room_id%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
