<% rentals.each do |rental| %>
<table>
  <thead>
    <tr>
      <th>予約者</th>
      <th>予約日</th>
      <th>使用時間</th>
      <th>人数</th>
    </tr>
  </thead>
    <tbody>
    <tr>
      <td><%= rental.user_name %></td>
      <td><%= rental.reserved_date %></td>
      <td><%= rental.usage_time %></td>
      <td><%= rental.people %></td>
    </tr>
  </tbody>
</table>
<%= link_to '予約解除', rental, method: :delete, remote: true %>
<% end %>
