<%= "最近登録した部屋: #{session[:room]} です。" if session[:room] %>
<p id="notice"><%= notice %></p>

<h1>Rooms</h1>
<div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Place</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.place %></td>
        <td><%= room.number %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Room', new_room_path, id: 'new-room'%>
</div>
