<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @room.place %>
</p>

<p>
  <strong>Number:</strong>
  <%= @room.number %>
</p>

<p><%= link_to '予約登録', new_entry_path(room_id: @room.id) %></p>

<%= render 'entries', rentals: @room.entries%>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
