header {
  width: 100%;
  display: inline-block;
  background-color: #00ff00;
}
footer {
  width: 100%;
  background-color: #0000cd;
  color: white;
  position: absolute;
  bottom: 0;
  text-align: center;
}
html {
  position: absolute;
  min-height: 100%;
  margin: 0 33px 0 33px;
}
.main {
  margin-bottom: 50px;
}

