<!DOCTYPE html>
<html>
  <head>
    <title>Reservation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'トップ', root_path %>
      <%= link_to '会議室登録', new_room_path %>
      <%= link_to '会議室一覧', rooms_path %>
    </header>
    <hr>
    <div class="main">
      <%= yield %>
    </div>
    <footer>
      © 2020 Copy Right Reserved Reservation
    </footer>
  </body>
</html>
